# Config files
config.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Dev Database
app.db

# Distribution / packaging
eggs/
.eggs/
*.egg-info/
*.egg

# IntelliJ stuff:
.idea

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
.flaskenv
env/
venv/
ENV/
env.bak/
venv.bak/

