{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - Math Formula Latex Trainer{% else %}No title{% endif %}
{% endblock %}
{% block scripts %}
  {{super()}}
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script>
    $('#entered_solution').bind('keypress keyup blur', function() {
        $('#displayed_solution').html('$$' + $(this).val() + '$$');
        MathJax.Hub.Queue(['Typeset',MathJax.Hub,'displayed_solution']);
    });
    </script>
    <script>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div>
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {# App content goes into below block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}