{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="row row-previous">
        <div class="col">
            <h2>Quiz Solution Image - Last Question</h2>
            <img src="{{url_for('static', filename=quiz_solution_image_previous)}}" class="img-responsive"/>
        </div>
    </div>
    <br />
    <div class="row row-previous">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <p>Entered Solution</p>
            $${{ entered_answer_previous }}$$
        </div>
        <div class="col-sm-3">
            <p>Full Suggested Answer</p>
            $${{ correct_answer_previous }}$$
        </div>
        <div class="col-sm-3">
        </div>

    </div>
    <br />
    <hr>
    <div class="row">
        <div class="col-sm-6">
            <div class="row row-current-response">
                <div class="col-sm">
                    $${{ question }}$$
                </div>
            </div>

            <div class="row row-current-response">
                <div class="col-sm">
                    <div id="displayed_solution"></div>
                </div>
            </div>

            <div class="row row-current-response">
                <div class="col-sm">
                    {{ wtf.quick_form(form) }}
                </div>
                <br />
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="text" class="btn btn-primary">\text{}</button>
                    <button type="button" id="exp" class="btn btn-primary">^{}</button>
                    <button type="button" id="frac" class="btn btn-primary">\frac{}{}</button>
                    <button type="button" id="sqrt" class="btn btn-primary">\sqrt{}</button>
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            <div class="row row-current-question">
                <div class="col-sm">
                    <img src="{{url_for('static', filename=quiz_question_image_current)}}" class="img-responsive"/>
                </div>
            </div>
        </div>

    </div>

    <br />

    <div class="row">
        <a href="{{ url_for('editor', exercise_id=exercise_id, lesson_id=lesson_id) }}">Editor</a>
    </div>

    <hr>
    <br />
    <div class="row">
        <div class="col">
            <h2>Lesson Progress</h2>
            <ol>
            {% for exercise in lesson_progress %}
                <li>{{exercise[1]}}</li>
            {% endfor %}
            </ol>
        </div>
    </div>





    <script>
    document.getElementById("sqrt").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\sqrt{}");
    });
    document.getElementById("frac").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\frac{}{}");
    });
    document.getElementById("exp").addEventListener("click", function() {s
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "^{}");
    });
    document.getElementById("text").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\text{}");
    });

    </script>

{% endblock %}
