{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}

    <h1>Quiz for {{ current_user.username }}!</h1>
    <h2>Quiz Solution Image - Last Question</h2>
    <div class="row">
        <div class="col">
        <img src="{{url_for('static', filename=quiz_solution_image_previous)}}"/>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <h2>Full Suggested Answer</h2>
            $${{ correct_answer }}$$
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col">
            <h2>Entered Answer</h2>
            $${{ entered_answer }}$$
        </div>
    </div>
    <br />
    <hr>
    <h2>Quiz Current Question Image</h2>
    <div class="row">
        <div class="col">
        <img src="{{url_for('static', filename=quiz_question_image_current)}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            $${{ question }}$$
        </div>
        <div class="col">
            <div id="displayed_solution"></div>
        </div>
        <div class="col">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br />
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" id="text" class="col-1">\text{}</button>
        <button type="button" id="exp" class="col-1">^{}</button>
        <button type="button" id="frac" class="col-1">\frac{}{}</button>
        <button type="button" id="sqrt" class="col-1">\sqrt{}</button>
    </div>
    <br />
    <br />
    <div class="row">
        <a href="{{ url_for('editor', exercise_id=exercise_id, lesson_id=lesson_id) }}">Editor</a>
    </div>

    <hr>
    <br />
    <div class="row">
        <div class="col">
            <h2>Lesson Progress</h2>
            <ol>
            {% for exercise in lesson_progress %}
                <li>{{exercise[1]}}</li>
            {% endfor %}
            </ol>
        </div>
    </div>



    <script>
    document.getElementById("sqrt").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\sqrt{}");
    });
    document.getElementById("frac").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\frac{}{}");
    });
    document.getElementById("exp").addEventListener("click", function() {s
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "^{}");
    });
    document.getElementById("text").addEventListener("click", function() {
      $("input#entered_solution.form-control").val($("input#entered_solution.form-control").val() + "\\text{}");
    });

    </script>

{% endblock %}
